<!doctype html>
<html>
  <head>
    <style>
      body {
        background-color: black;
      }
      img {
        display: block;
        background-color: white;
        margin-bottom: 2em;
      }
    </style>
  </head>
  <body>
    {{{images}}}
  </body>
</html>